@model CellPhone.Areas.User.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Quên mật khẩu";
}

<div class="d-flex justify-content-center">
    <form method="post">
        <div class="d-flex align-items-center" style="flex-direction: column;">
            <h4 class="mb-3">Quên mật khẩu ?</h4>
            <div class="mb-3 form-floating">
                @Html.TextBoxFor(f => f.Email, new { @class = "form-control" })
                @Html.LabelFor(f => f.Email)
                @Html.ValidationMessageFor(f => f.Email, "", new { @class = "text-danger" })
            </div>

            <div>
                <button class="btn btn-outline-dark">Tiếp tục</button>
            </div>
        </div>
    </form>
</div>
